html {height:100%}
body {position: absolute;margin-left: 0; margin-top: 0;top:0;bottom:0;right:0;left:0;min-height: 100%;min-width: 100%}
/*
canvas {
	display: block;
	margin: auto;
	border: 1px solid black;
}
*/
/*
#englishWord {
	height: 50px;
	display: block;
	margin: auto;
	margin-top: 20px;
	font-family: Arial, sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: green;
}
#maskedWord {
	height: 50px;
	display: block;
	margin: auto;
	margin-top: 10px;
	font-family: Arial, sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: yellow;
}
#score {
	height: 50px;
	display: block;
	margin: auto;
	margin-top: 10px;
	font-family: Arial, sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: yellow;
}
#highScore {
	height: 50px;
	display: block;
	margin: auto;
	margin-top: 10px;
	font-family: Arial, sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: yellow;
}
*/
.headingField
{
	height: 50px;
	display: block;
	margin: auto;
	margin-top: 10px;
	font-family: Arial, sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: yellow;
}
.headingLabel {
	display: block;
	margin: auto;
	margin-top: 10px;
	font-family: Arial, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: white;
}



.optionLabel {
	display: block;
	margin: auto;
	margin-top: 10px;
	font-family: Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: red;
}
/*
#gameCanvas {
	display: block;
	margin: auto;
}*/



#gameCanvas {
	width: 100%;
	height: 100%;
}


.topLeft{
	top:0;
	width:28%;
	margin-right:2%;
	position:fixed;
	left:0;
	order:1;
}

.gamePanel{
	top:0;
	width:35%;
	height:100%;
	margin-left: 30%;
	position:fixed;
	display:none;
	order:2;
}

.gameCanvasDiv {
	height:100%;
	width:35%;
	position:fixed; z-index:0;
}

.buttonPanel {
	position:fixed;
	z-index: 5;
}

.topRight{
	top:0;
	width:28%;
	position:fixed;
	right:0;
	order:30;
}

.pauseButton, .resumeButton, .optionsButton, .quitButton, .playButton {
	width:30%;
	height:10%;
	margin-left: 2.5%;
	font-family: Arial, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: red;
}

.pauseButton{
	top:0;
	height: 5%;
	position:fixed;
	margin-top:1%;
}


.optionsButton{
	top:20%;
	position:fixed;
	margin-top:5%;
}


.resumeButton{
	top:40%;
	position:fixed;
	margin-top:5%;
}


.quitButton{
	top:60%;
	position:fixed;
	margin-top:5%;
}


.playButton{
	bottom:10%;
	position:fixed;
	margin-bottom:5%;
}

.optionsList{
	position:fixed;
	top:0;
	margin-top:0;
	width:40%;
	height:100%;
	margin-left: 30%;
	order:20;
}


/*
.leftSidex{
	width:20%;
	margin-right: 2%;
	float:left;
}
.gamePanelx{
	width:100%;
	margin-right: 2%;
	float:left;
}
.rightSidex{
	width:20%;
	float:left;
}
*/

@media(orientation:portrait)
{


/*
	.topPanel{
		width:100%;
		height:10%;
	}
*/


	#gameCanvas {
		width: 100%;
	}

	.topLeft{
		width:30%;
		height:15%;
		position:fixed;
		top:0;
		left:0;
	}

	.topRight{
		width:30%;
		height:15%;
		position:fixed;
		top:0;
		right:0;
	}

	.gamePanel{
			width:100%;
			position:fixed;
			bottom:0;
			right:0;
			display:none;
		}


		.gameCanvasDiv {
			height:100%;
			width:100%;
			position:fixed; z-index:0;
		}

		.buttonPanel {
			position:fixed;
			z-index: 5;
			left: 30%;
			left-margin:35%;
		}

}
